body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, th, td {
  border: 1px solid DodgerBlue;
}

th, td {
  padding: 15px;
  text-align: left;
}
